          html,
          body,
          div,
          span,
          applet,
          object,
          iframe,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p,
          blockquote,
          pre,
          a,
          abbr,
          acronym,
          address,
          big,
          cite,
          code,
          del,
          dfn,
          em,
          img,
          ins,
          kbd,
          q,
          s,
          samp,
          small,
          strike,
          strong,
          sub,
          sup,
          tt,
          var,
          b,
          u,
          i,
          center,
          dl,
          dt,
          dd,
          ol,
          ul,
          li,
          fieldset,
          form,
          label,
          legend,
          table,
          caption,
          tbody,
          tfoot,
          thead,
          tr,
          th,
          td,
          article,
          aside,
          canvas,
          details,
          embed,
          figure,
          figcaption,
          footer,
          header,
          hgroup,
          menu,
          nav,
          output,
          ruby,
          section,
          summary,
          time,
          mark,
          audio,
          video {
            margin: 0;
            padding: 0;
            border: 0; //font-family: 微软雅黑, Microsoft YaHei, 宋体, Tahoma, Helvetica, Arial, sans-serif;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 13px;
            font: inherit;
            vertical-align: baseline;
            -webkit-font-smoothing: antialiased;
          }
          /* HTML5 display-role reset for older browsers */

          article,
          aside,
          details,
          figcaption,
          figure,
          footer,
          header,
          hgroup,
          menu,
          nav,
          section {
            display: block;
          }

          body {
            line-height: 1;
          }

          ol,
          ul {
            list-style: none;
          }

          blockquote,
          q {
            quotes: none;
          }

          blockquote:before,
          blockquote:after,
          q:before,
          q:after {
            content: '';
            content: none;
          }

          table {
            border-collapse: collapse;
            border-spacing: 0;
          } //滚动条整体部分
           ::-webkit-scrollbar {
            width: 10px;
          } //  滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
           ::-webkit-scrollbar-thumb {
            border-radius: .5em;
            background-color: #999;
          } //滚动条的轨道（里面装有Thumb）
           ::-webkit-scrollbar-track {
            background-color: rgba(200, 200, 200, 0.5);
          } //滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
           ::-webkit-scrollbar-button {}

          //内层轨道，滚动条中间部分（除去）
           ::-webkit-scrollbar-track-piece {}

          //边角，即两个滚动条的交汇处
           ::-webkit-scrollbar-corner {}

          //两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
           ::-webkit-resizer {}
